<div class="form-floating mb-3">
  <input
    type="text"
    class="form-control"
    id="floatingInput"
    name="fullName"
    placeholder="Full Name"
    value="{{client.firstName}} {{client.lastName}}"
  />
  <label for="floatingInput">Full Name</label>
</div>
<!-- end input item  -->
<div class="form-floating mb-3">
  <input
    type="number"
    class="form-control"
    id="floatingInput"
    name="PhoneNumber"
    placeholder="Phone Number"
    value="{{client.phone}}"
  />
  <label for="floatingInput">Phone Number</label>
</div>
<!-- end input item  -->
<div class="form-floating mb-3">
  <input
    type="text"
    class="form-control"
    id="floatingInput"
    name="street"
    placeholder="Street Address"
    value="{{client.address.street}}"
  />
  <label for="floatingInput">Street Address</label>
</div>
<!-- end input item  -->
<div class="form-floating mb-3">
  <input
    type="text"
    class="form-control"
    id="floatingInput"
    name="Suburb"
    placeholder="Suburb"
    value="{{client.address.suburb}}"
  />
  <label for="floatingInput">Suburb</label>
</div>
<!-- end input item  -->
<div class="form-floating mb-3">
  <input
    type="text"
    class="form-control"
    id="floatingInput"
    name="city"
    placeholder="City"
    value="{{client.address.city}}"
  />
  <label for="floatingInput">City</label>
</div>
<!-- end input item  -->
<div class="form-floating mb-3">
  <input
    type="text"
    class="form-control"
    id="floatingInput"
    name="province"
    placeholder="Province"
    value="{{client.address.province}}"
  />
  <label for="floatingInput">Province</label>
</div>
<!-- end input item  -->
<div class="form-floating mb-3">
  <input
    type="text"
    class="form-control"
    id="floatingInput"
    name="pobox"
    placeholder="Po.box"
    value="{{client.address.pobox}}"
  />
  <label for="floatingInput">Po.box</label>
</div>
<!-- end input item  -->
